.button {
    color: white !important;
    background-color: black !important;
    border: 2px solid white !important;
}

.button.primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}